* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* a.disabled {
  pointer-events: none;
} */

/* .home {
  max-height: 100vh;
} */

.carousel-item img {
  width: 100%;
  height: 100vh;
}

.community {
  background-image: url(./Homepage-Shelter.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 100vh; */
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.communityHeading {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.commone,
.commtwo {
  width: 50%;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.commone img {
  width: 100%;
}
.commtwo img {
  width: 95%;
}

.makediffmain {
  padding: 4rem;
  background-color: rgb(245, 242, 229);
}

.wrapper {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.sidebar_cont_visible {
  left: 20px !important;
}

.sidebar_cont {
  position: fixed;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  top: 0;
  left: -500px;
  z-index: 9;
  transition: 0.7s;
}

.sidebar {
  height: 80%;
  width: 100%;
  background-color: #fee8d6;
  transition: 0.5s;
  border-radius: 10px;
}

.sidebar_close {
  width: 64px;
  transition: 0.5s;
}

.sidebar .hamburger {
  height: 10%;
  width: 100%;
  background-color: #eb9d5d;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebar .hamburger i {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 1rem;
}

.sidebar .bar-items {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sidebar .bar-items .item {
  width: 100%;
  height: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.item:hover {
  background-color: #fdcca5;
}

.item .item_one {
  transition: 0.5s;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.item .item_two {
  color: black;
  text-decoration: none;
}

.item_none {
  display: none !important;
  transition: 0.5s;
}
.carouseltitle{
  font-size: 4rem;
  color: #000;
}
.carouselpara{
  font-size:2.5rem;
  color: #000;

  
}
.WorkandServicestitle{
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}
.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Merriweather", serif;
  height: 100vh;
}

header h2 {
  font-weight: 400;
}

.scroll-container {
  height: 100vh;
  min-height: 450px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
  background-color: #fcea9b;
}
.scroll-container:nth-of-type(2) {
  background-color: #fcea9b;
}
.scroll-container:nth-of-type(3) {
  background-color: #fcea9b;

}
.scroll-container:nth-of-type(4) {
  background-color: #fcea9b;

}

.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

.scroll-element {
  min-height: 300px;
  height: 100%;
  background-image: url(./sample.jpg);
  background-size: cover;
}

.scroll-element-one {
  background-image: url(./sample.jpg);
}

.scroll-element-two {
  background-image: url(./animal_foster.jpg);
}

.scroll-caption {
  margin: 1rem;
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #faddad;
}

footer p {
  font-size: 0.75rem;
  margin: 0.25rem 0;
  color: #221133;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 650px) {
  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and(max-width:768px) {
  .carouseltitle{
    display: block !important;
    font-size: 3rem;
    color: #000;
  }
  .carouselpara{
    font-size:2rem;
    color: #000;
  
  }
}
@media only screen and (max-width: 992px) {
  .sidebar_cont {
    left: -500px;
    width: 50%;
  }
  .sidebar {
    height: 100%;
    border-radius: 0;
  }
  .hamburger_mob {
    left: 0 !important;
  }
  .sidebar .hamburger {
    border-radius: 0;
  }
  .makediffmain {
    padding: 0;
  }
  .communityHeading {
    font-size: 3rem;
  }
  .commone,
  .commtwo {
    font-size: 1.5rem;
  }
  .sidebar_mob {
    width: 0;
  }
  .item_two_mob {
    display: none;
  }
  .sidebar .hamburger {
    background-color: #eb9d5d;
    width: 64px;
    /* margin-top: 20px; */
    border-bottom-right-radius: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .sidebar .hamburger i {
    font-size: 1rem;
  }
  .sidebar .hamburger {
    width: 48px;
    height: 48px;
  }
  .sidebar_cont {
    width: 100%;
  }
  .communityHeading {
    font-size: 2rem;
  }
  .title {
    font-size: 3rem !important;
  }
  .commone,
  .commtwo {
    font-size: 1rem;
  }
}

.title {
  background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* max-width: 75%; */
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #540032;
}

.makediff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 6rem; */
}

.mycls {
  padding: 60px;
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  width: 20rem;
  font-size: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: rgb(247, 201, 203);
  animation-play-state: paused;
  margin-bottom: 6rem;
}

.mycls:hover {
  animation: move1 0.4s infinite normal;
  animation-timing-function: linear;
}

@keyframes move1 {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }

  100% {
    background-position: 30px 0, -30px 100%, 0 -30px, 100% 30px;
  }
}

@media only screen and (max-width: 1237px) {
  .mycls {
    width: 100%;
    margin: 2rem;
    justify-content: center;
    align-items: center;
  }
}

footer {
  width: 100%;
  height: 50vh;
  position: relative;
  scroll-snap-align: start;
}
@media screen and (max-width: 600px), (max-width: 768px) {
  footer {
    height: 70vh;
    scroll-snap-align: none;
  }
}
footer .contact {
  background-color: #eb9d5d;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}
footer .contact a {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
footer .contact a i {
  font-size: 1.5em;
}
footer .contact #facebook:hover {
  background-color: #4267b2;
  color: white;
}
footer .contact #instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}
footer .contact #instagram:hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
footer .contact #twitter:hover {
  background-color: #00acee;
  color: white;
}
footer .contact #linkedin:hover {
  background-color: #1b7aa7;
  color: white;
}
@media screen and (max-width: 600px), (max-width: 768px) {
  footer .contact #facebook {
    background-color: #4267b2;
    color: white;
  }
  footer .contact #instagram {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    color: white;
  }
  footer .contact #instagram i {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  footer .contact #twitter {
    background-color: #00acee;
    color: white;
  }
  footer .contact #linkedin {
    background-color: #1b7aa7;
    color: white;
  }
}
.buttonFooter{
  background-color: #311d0c;
  padding: 10px;
  margin: 1rem;
  width:10rem;
  color:white ;
  font-weight: bold;
  border-radius: 6rem;
}
.buttonFooter:hover{
  background-color: #f1c69f;
  color: #000;
}